* {
    font-family: Helvetica;
}

.barrasuperior {
    background-color: #ECF7E9;
    text-align: center;
    display: flex;
}

.barrasuperior .imagem {
    padding: 20px;
    height: 120px;
    width: 100px;

}

.barrasuperior .menu {
    font-weight: lighter;
    padding-top: 50px;
    margin-left: 18%;
    font-size: 16px;
    display: flex;
    gap: 60px;    
}









.blococapa {
    text-align: right;
}

.blococapa .text {
    text-align: right;
    font-size: 70px;
}

.blococapa .italic {
    font-size: 50px;
}

.blococapa .capa {
    object-fit: cover;
    width: 1264px;
    height: 650px;   
}

.blococapa .conhecer {
    background-color: #284E3B;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 16px;
    color: white;
}










.blocoloja {
    padding-top: 10%;
}

.blocoloja .textoinicial {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    color:#284E3B;
}

.blocoloja .boxes-loja {
    text-align: center;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    gap: 90px;
}

.blocoloja .box-loja-01 .imagem {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border:solid#284E3B;
    border-width: 2px;
}

.blocoloja .box-loja-01 {
    text-align: center;
    color:#284E3B
}


.blocoloja .box-loja-02 .imagem {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border:solid#284E3B;
    border-width: 2px;
}

.blocoloja .box-loja-02 {
    text-align: center;
    color:#284E3B

}

.blocoloja .box-loja-03 .imagem {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border:solid#284E3B;
    border-width: 2px;
}

.blocoloja .box-loja-03 {
    text-align: center;
    color:#284E3B
}

.blocoloja .box-loja-04 .imagem {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border:solid#284E3B;
    border-width: 2px;
}

.blocoloja .box-loja-04 {
    text-align: center;
    color:#284E3B
}

.blocoloja .box-loja-01 .nomedaplanta,
.blocoloja .box-loja-02 .nomedaplanta, 
.blocoloja .box-loja-03 .nomedaplanta, 
.blocoloja .box-loja-04 .nomedaplanta {
    font-weight: 700;
    font-size: 18px;
}

.blocoloja .box-loja-01 .numero-avaliações,
.blocoloja .box-loja-02 .numero-avaliações, 
.blocoloja .box-loja-03 .numero-avaliações, 
.blocoloja .box-loja-04 .numero-avaliações {
    font-size: 12px;
}

.blocoloja .box-loja-01 .valor,
.blocoloja .box-loja-02 .valor, 
.blocoloja .box-loja-03 .valor, 
.blocoloja .box-loja-04 .valor {
    font-size: 20px;
    color: darkgreen;
    font-weight: 600;
    gap: 1px;
}

.bloco-botão {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 70px;
}

.bloco-botão .ver-todas {
    font-size: 18px;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #284E3B;
    color: white;
}









.bloco-descrição {
    background-color: #ECF7E9;
    display: flex;
}


.bloco-descrição .bloco-no-bloco {
    display: flex;
    flex-direction: column;
}

.bloco-descrição .bloco-no-bloco .titulo {
    padding-top: 60px;
    font-size: 45px;
    padding-left: 40px;
}

.bloco-descrição .bloco-no-bloco .descrição {
    padding-left: 40px;
    padding-right: 120px;
}

.bloco-descrição .imagem {
    padding: 40px;
    width: 350px;
    height: auto;
}

.bloco-descrição .botão {
    padding-top: 40px;
}

.bloco-descrição .botão .botão-loja {
    font-size: 18px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #284E3B;
    color: white;
}







.rodapé {
    background-color: #284E3B;
    color: white;
    display: flex;
    gap: 30%;
    padding-left: 10%;
    padding-top: 8%;
    padding-bottom: 8%;
    font-weight: 100;
}